<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.up.ihelppo">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MeusDadosActivity"></activity>
        <activity android:name=".view.ListarAtividadesPendentesActivity" />
        <activity android:name=".view.HistoricoAtividadesActivity" />
        <activity android:name=".view.DetalheCategoriaActivity" />
        <activity android:name=".view.ListarCategoriasActivity" />
        <activity android:name=".view.ListarAtividadesActivity" />
        <activity android:name=".view.MenuActivity" />
        <activity android:name=".view.DetalhesAtividadeActivity" />
        <activity android:name=".view.CalendarioActivity" />
        <activity android:name=".view.CadastrarAtividadeActivity" />
        <activity
            android:name=".view.CadastroCategoriaActivity"
            android:label="@string/title_activity_cadastro_categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.CadastroUsuario" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>